<div class="container">
  <div class="about-us-container">
    <div class="about-us-text">
        provides an affordable record keeping regimen to businesses looking to grow. 
        We also service clients with important advice on the flow of cash through 
        their business, required taxes, credit, liabilities and management systems. 
        It is essential each business have current records that reflect the following information:

        Through Statement of Sales
        Fixed & Variable Costs
        Profit & Loss
        Credit & Collection Totals
        Prior Years Operating Cost
        Income Tax Preparation
        Required Tax Returns & Reports for regulatory agencies
        The Eddington Group, Inc. (TEGI) offers a variety of service to business owners. Some of these bookkeeping services include a tailored Management Marketing System, sound Financial Advice, a Clear Analysis of Financial Statements and concentrated attention that helps small businesses prosper.
    </div>
  </div>
</div>