<div class="row">
    <div class="col-8 pale-pink main-left-panel">
        <div class="row">
            <div class="col-12 text-center" style="margin-top: 250px;">
                <h1 style="color: #D9D4CF; font-size: 3.5rem;">
                    <span style="font-family: 'big'">
                        ART
                    </span>
                    <span style="font-family: 'slim'">
                        GALLERY
                    </span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="border-right: 3px solid #fff; margin-top: 250px;">
                <button href="gallery" class="main-btn" style="float: right;">
                    GALLERY
                </button>
            </div>
            <div class="col-6" style="margin-top: 250px;">
                <button class="main-btn" style="float: left;">
                    CONTACT
                </button>
            </div>
        </div>
    </div>
    <div class="col-4 pale-brown main-panel">
        <div class="row">
            <div class="col-12">
                <div class="logo-container">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="gallery" class="row">
    <div class="col-8 pale-pink">
        <div style="height: 6000px">
            <img style="height: 70px" src="../../assets/imgs/paint-bg-1.jpg">

        </div>

    </div>
    <div class="col-4 pale-pink">

    </div>
</div>