/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'openSans';
    src: url(assets/fonts/OpenSans-Regular.ttf);
  }

@font-face {
  font-family: 'openSansItalics';
  src: url(assets/fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: 'nunito';
  src: url(assets/fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: 'nunitoSemi';
  src: url(assets/fonts/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: 'nunitoLight';
  src: url(assets/fonts/Nunito-Light.ttf);
}

* {
    font-family: 'openSans';
}

.pale-pink {
  background: #F0E5DE;
}

.pale-green {
  background: #ABD0CE;
}

.pale-brown {
  background: #D9D4CF;
}

.brown {
  background: #7C7877;
}

/* -------------------------------------------------*/

.main-panel {
  height: -webkit-fill-available;
}