/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'openSans';
    src: url(assets/fonts/OpenSans-Regular.ttf);
  }

@font-face {
  font-family: 'openSansItalics';
  src: url(assets/fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: 'nunito';
  src: url(assets/fonts/Nunito-Regular.ttf);
}
@font-face {
  font-family: 'nunitoSemi';
  src: url(assets/fonts/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: 'nunitoLight';
  src: url(assets/fonts/Nunito-Light.ttf);
}

@font-face {
  font-family: 'big';
  src: url(assets/fonts/BIGJOHN.otf);
}

@font-face {
  font-family: 'slim';
  src: url(assets/fonts/SlimJoe.otf);
}

@font-face {
  font-family: 'welcome';
  src: url(assets/fonts/Welcome.ttf);
}

@font-face {
  font-family: 'antValley';
  src: url(assets/fonts/AntsValley.otf);
}

* {
    font-family: 'openSans';
}

.pale-pink {
  background: rgb(240, 229, 222);
}

.pale-purple {
  background: #AAABD3;
}

.pale-green {
  background: #ABD0CE;
}

.pale-brown {
  background: #D9D4CF;
}

.brown {
  background: #7C7877;
}

/* -------------------------------------------------*/

html {
  scroll-behavior: smooth;
 }

 .gallery-btn > .mat-ripple-element {
  transition-duration: 0ms !important;
  color: transparent;
  background: transparent;
}
 
.container {
  margin-right: 0 !important;
}

.main-left-panel {
  /* background-image: url("../src/assets/imgs/paint-bg-1.jpg"); */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) , rgba(240, 229, 222, 1)), url("../src/assets/imgs/paint-bg-1.jpg");
  background-size: cover;
  height:100vh !important;
}

button {
  outline: none !important;
}

.main-panel {
  height: -webkit-fill-available;
}

.main-btn {
  background: transparent;
    border: 1px solid transparent !important;
    border-radius: 0px !important;
    width: 200px;
    color: #7C7877;
    font-weight: bolder;
    letter-spacing: 8px;
    transition: 250ms;
}

.main-btn:hover {
    letter-spacing: 10px;
    transition: 250ms;
}

.art-img {
  /* object-fit: cover; */
    width: 100%;
    box-shadow: 0px 0px 0px 0px;
    transition: 350ms ease;
}

.art-img:hover {
    box-shadow: 2px 4px 6px 0px;
    transition: 350ms ease;
}

.art-container {
  padding: 60px;
}

.art-description {
  margin-top: 10px;
  color: #7C7877;
  font-family: 'slim';
  font-weight: bold;
  text-align: right;
}

.description-panel {
  border-radius: 0px !important;     
  background: transparent;
}

.art-description-text {
  padding-right: 0px;
  font-family: 'slim';
  font-weight: bold;
  color: #7C7877 !important;
}

.action-btn {
  width: 200px;
  border-radius: 0px !important;
  color: #D9D4CF;
  background: transparent;
  transition: 300ms ease;
  font-family: 'big';
  border: 3px solid #D9D4CF !important;
  letter-spacing: 8px;

}

.action-btn:hover {
  color: #7C7877;
  background: #D9D4CF;
  letter-spacing: 10px;
  transition: 300ms ease;

}

.mat-expansion-panel-header {
  flex-direction: row-reverse !important;
}

.mat-expansion-panel-body {
  padding: 5px 5px 0px 0px !important;
  border-right: 3px solid #AAABD3;
}

.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: #7C7877 !important;
}

.welcome-paragraph {
  color: #7C7877;
  font-family: 'slim';
  text-align: right;
  font-size: 15px !important;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 4px;
}

.chevron {
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 5px;
  padding-left: 10px;
  transition: 250ms;
  transition-timing-function: ease-out;
}

.main-btn:hover .chevron {
  bottom: 0px !important;
  transition: 250ms;
  transition-timing-function: ease-out;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 
  0 0px 0px 0px rgba(0,0,0,0), 
  0 0px 0px 0 rgba(0,0,0,0), 
  0 0px 0px 0 rgba(0,0,0,0);
}

.mat-expansion-panel-header-title {
  color: #7C7877 !important;
}

/* ---------------------------------------------- */
.mat-drawer {
  overflow: hidden;
  transform: none;
  visibility: visible;
  background: #D9D4CF;
  width: 20%;
}
.mat-drawer-container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden !important;
  height: 100%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden !important;
}

/* ---------------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7C7877; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ABD0CE; 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ABD0CE; 
}

/* ----------------------------------------------- */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.6s;
  -moz-animation-duration:.6s;
  animation-duration:.6s;
}

.fade-in.one {
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
  animation-delay: 0.35s;

}

.fade-in.two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay:1s;
  animation-delay: 1s;
  transform: translateY(-30px);
}

.fade-in.three {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; 
}

/* ------------------------------------------------- */

.owl-carousel {
  width: 90% !important;
  margin: 10% auto;
}
 
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}
 
.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 30% !important;
}
 
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
/* .owl-carousel .prev-slide {
  background: url(./assets/images/nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
 
.owl-carousel .next-slide {
  background: url(./assets/images/nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
} */
 
.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}
 
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}