/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'openSans';
    src: url(assets/fonts/OpenSans-Regular.ttf);
  }

  @font-face {
    font-family: 'openSansItalics';
    src: url(assets/fonts/OpenSans-Italic.ttf);
  }

* {
    font-family: 'openSans';
}