<mat-toolbar class="main-nav-bar row">
  <div class="col" style="height: 100%;">
    <img style="height: 80px; float: left;" src="../../assets/imgs/tegi-logo.png">
    <h2 style="float: left; line-height: 75px; margin-left: 10px;">The Eddington Group Inc.</h2>
  </div>
  <div class="col" style="height: 100%;">
      <ul class="nav-list">
          <li class="col">
            <a href="default.asp">
              Home
            </a>
          </li>
          <li><a href="news.asp">News</a></li>
          <li><a href="contact.asp">Contact</a></li>
          <li><a href="about.asp">About</a></li>
        </ul>
  </div>
</mat-toolbar>