.main-nav-bar {
    height: 80px; 
    background: #66142a;
    color: #fefeff;
    margin: 0;
    z-index: 9999;
    position: fixed;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    float: right;
    display: inline;
}

.nav-icon {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 25px;
    top: 30px;
    opacity: 0;
    transition: 400ms;
}

.nav-list-btn {
    outline: none; 
    background: transparent;
    color: #fefeff;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    transition: 400ms;
}

.nav-title {
    opacity: 1;
    transition: 400ms;
}

.nav-list-btn:hover {
    background: rgba(0,0,0,.1);
    transition: 400ms;
    border-bottom: 6px solid #eaeaea;
    
}

.nav-list-btn:hover .nav-icon {
    opacity: 1;
    transition: 400ms;
}

.nav-list-btn:hover .nav-title {
    opacity: 0;
    transition: 400ms;
}
