<mat-toolbar class="main-nav-bar row">
  <div class="col-6" style="height: 100%;">
    <img style="height: 80px; float: left;" src="../../assets/imgs/e.jpg">
    <h4 style="float: left; line-height: 75px; margin-left: 10px; letter-spacing: 5px;">The Eddington Group Inc.</h4>
  </div>
  <div class="col" style="height: 100%;">
    <ul class="nav-list row" style="height: 100%;">
      <li class="col-2"></li>
      <li class="col-2">
        <button mat-button class="nav-list-btn" [routerLink]="['/']">
          <i class="nav-icon fas fa-home"></i>
          <span class="nav-title">Home</span>
        </button>
      </li>
      <li class="col-2">
        <button mat-button class="nav-list-btn" [routerLink]="['/about-us']">
          <i class="nav-icon fas fa-users"></i>
          <span class="nav-title">About Us</span>
        </button>
      </li>
      <li class="col-2">
        <button mat-button class="nav-list-btn">
          <i class="nav-icon fas fa-handshake"></i>
          <span class="nav-title">Services</span>
        </button>
      </li>
      <li class="col-2">
        <button mat-button class="nav-list-btn">
          <i class="nav-icon fas fa-phone"></i>
          <span class="nav-title">Contact Us</span>
        </button>
      </li>
      <li class="col-2">
        <button mat-button class="nav-list-btn">
          <i class="nav-icon fas fa-business-time"></i>
          <span class="nav-title">Deadlines</span>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>